<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="">
<meta name="rating" content="general">
<meta name="robots" content="index, follow">
<meta name="Description" content="">
<meta name="Keywords" content="">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<title></title>
<link rel="stylesheet" type="text/css" href="css/wolfnhare.css">
</head>

<body id="mainContainer">
    <div id="gameBody">
        <section id="wolfArea"></section>
        <div class="chicken topLeft" data-egg-direction="fromLeftToRight">
            first chicken
        </div>
        <div class="chicken bottomLeft" data-egg-direction="fromLeftToRight">
            second chicken
        </div>
        <div class="chicken topRight" data-egg-direction="fromRightToLeft">
            third chicken
        </div>
        <div class="chicken bottomRight" data-egg-direction="fromRightToLeft">
            fourth chicken
        </div>
        <ul id="wolfNavigation">
            <li class="navigationBtn topLeft">top left</li>
            <li class="navigationBtn bottomLeft">bottom left</li>
            <li class="navigationBtn topRight">top right</li>
            <li class="navigationBtn bottomRight">bottom right</li>
        </ul>
    </div>

    <dl class="temp-controls temp-wolfSide">
        <dt>eggs:</dt>
        <dd><button onclick="EGGS.addEgg(CHICKENS.getChicken(CHICKENS.firstChicken))">add</button></dd>
    </dl>

    <script type="text/javascript" src="js/wolfnhare.js"></script>
</body>
</html>
