<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="">
<meta name="rating" content="general">
<meta name="robots" content="index, follow">
<meta name="Description" content="">
<meta name="Keywords" content="">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<title></title>
<link rel="stylesheet" type="text/css" href="css/wolfnhare.css">
</head>

<body id="mainContainer">
    <div id="gameBody">
        <section id="wolfArea"></section>
        <ul id="wolfNavigation">
            <li class="navigationBtn topLeft">top left</li>
            <li class="navigationBtn bottomLeft">bottom left</li>
            <li class="navigationBtn topRight">top right</li>
            <li class="navigationBtn bottomRight">bottom right</li>
        </ul>
    </div>

    <dl class="temp-controls temp-wolfSide">
        <dt>wolf side:</dt>
        <dd><button onclick="WOLF.setWolfSide('onLeftSide')">left</button></dd>
        <dd><button onclick="WOLF.setWolfSide('onRightSide')">right</button></dd>
    </dl>
    <dl class="temp-controls temp-basketPosition">
        <dt>basket position:</dt>
        <dd><button onclick="WOLF.setBasketPosition('onTopLeft')">top left</button></dd>
        <dd><button onclick="WOLF.setBasketPosition('onBottomLeft')">bottom left</button></dd>
        <dd><button onclick="WOLF.setBasketPosition('onTopRight')">top right</button></dd>
        <dd><button onclick="WOLF.setBasketPosition('onBottomRight')">bottom right</button></dd>
    </dl>
    <dl class="temp-controls temp-wolfPose">
        <dt>wolf pose:</dt>
        <dd><button onclick="WOLF.setWolfPose('onLeftSide', 'onTopLeft')">top left</button></dd>
        <dd><button onclick="WOLF.setWolfPose('onLeftSide', 'onBottomLeft')">bottom left</button></dd>
        <dd><button onclick="WOLF.setWolfPose('onRightSide', 'onTopRight')">top right</button></dd>
        <dd><button onclick="WOLF.setWolfPose('onRightSide', 'onBottomRight')">bottom right</button></dd>
    </dl>

    <script type="text/javascript" src="js/characters/wolf.js"></script>
    <script type="text/javascript" src="js/actions/wolf.js"></script>
    <script type="text/javascript" src="js/components/wolfNavigation.js"></script>
    <script type="text/javascript" src="js/helpers/wolfMoveEvents.js"></script>
</body>
</html>
