/* COMPONENT: Wolf Area */


#wolfNavigation {
	.navigationBtn {
		width: 20px;
		height: 20px;
		position: absolute;
		background: red;
		cursor: pointer;
		overflow: hidden;
		text-indent: -5000px;

		&.topLeft {
			left: 40px;
			bottom: 150px;
		}
		&.bottomLeft {
			left: 40px;
			bottom: 100px;
		}
		&.topRight {
			right: 40px;
			bottom: 150px;
		}
		&.bottomRight {
			right: 40px;
			bottom: 100px;
		}
	}
}