/* COMPONENT: Wolf Area */
@arrowOffset-verticalTop: -8px;
@arrowOffset-verticalBottom: -13px;
@arrowOffset-horizontal: -36px;
@arrowAngle: 30deg;
@arrowLeft: '\003C';
@arrowRight: '\003E';
@btnOffset-verticalTop: 106px;
@btnOffset-verticalBottom: 21px;
@btnOffset-horizontal: 54px;
@btnSize: 59px;


#wolfNavigation {
	.navigationBtn {
		width: @btnSize;
		height: @btnSize;
		border-radius: 100%;
		position: absolute;
		z-index: @screenZindex + 1;
		background: red;
		cursor: pointer;
		text-indent: -5000px;

		&:before {
			height: 31px;
			position: absolute;
			font-size: 50px;
			font-weight: bold;
			line-height: 23px;
			text-indent: 0;
		}

		&.topLeft {
			left: @btnOffset-horizontal;
			bottom: @btnOffset-verticalTop;

			&:before {
				content: @arrowLeft;
				top: @arrowOffset-verticalTop;
				left: @arrowOffset-horizontal;
				transform: rotate(@arrowAngle);
			}
		}
		&.bottomLeft {
			left: @btnOffset-horizontal;
			bottom: @btnOffset-verticalBottom;

			&:before {
				content: @arrowLeft;
				bottom: @arrowOffset-verticalBottom;
				left: @arrowOffset-horizontal;
				transform: rotate(-@arrowAngle);
			}
		}
		&.topRight {
			right: @btnOffset-horizontal;
			bottom: @btnOffset-verticalTop;

			&:before {
				content: @arrowRight;
				top: @arrowOffset-verticalTop;
				right: @arrowOffset-horizontal;
				transform: rotate(-@arrowAngle);
			}
		}
		&.bottomRight {
			right: @btnOffset-horizontal;
			bottom: @btnOffset-verticalBottom;

			&:before {
				content: @arrowRight;
				right: @arrowOffset-horizontal;
				bottom: @arrowOffset-verticalBottom;
				transform: rotate(@arrowAngle);
			}
		}
	}
}