/* GAME CHARACTER: chickens */
@chickenWidth: 20px;
@chickenHeight: 30px;
@chickenTopOffset: 170px;
@chickenBottomOffset: 99px;
@chickenHorizontalOffset: 116px;

.chicken {
	position: absolute;
	width: 83px;
	height: 70px;
	text-indent: -5000px;
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		width: @chickenWidth;
		height: @chickenHeight;
		position: absolute;
		background: yellow;
	}

	&.topLeft {
		top: @chickenTopOffset;
		left: @chickenHorizontalOffset;

		&:before {
			top: 0;
			left: 0;
		}
	}
	&.bottomLeft {
		bottom: @chickenBottomOffset;
		left: @chickenHorizontalOffset;

		&:before {
			top: 0;
			left: 0;
		}
	}
	&.topRight {
		top: @chickenTopOffset;
		right: @chickenHorizontalOffset;

		&:before {
			top: 0;
			right: 0;
		}
	}
	&.bottomRight {
		right: @chickenHorizontalOffset;
		bottom: @chickenBottomOffset;

		&:before {
			top: 0;
			right: 0;
		}
	}
}