/* GAME CHARACTER: eggs */
@eggWidth: 10px;
@eggHeight: 15px;
@eggStepOffset: 5px;
@eggStepDistance: 12px;


.egg {
	display: block;
	width: @eggWidth;
	height: @eggHeight;
	position: absolute;
	background: white;

	&[data-egg-step="1"] {
		top: @chickenHeight - 0.5 * @eggHeight;
	}
	&[data-egg-step="2"] {
		top: @chickenHeight;
	}
	&[data-egg-step="3"] {
		top: @chickenHeight + 0.5 * @eggHeight;
	}
	&[data-egg-step="4"] {
		top: @chickenHeight + 1 * @eggHeight;
	}
	&[data-egg-step="5"] {
		top: @chickenHeight + 1.5 * @eggHeight;
	}

	[data-egg-direction="fromLeftToRight"] & {
		&[data-egg-step="1"] {
			left: @chickenWidth + @eggStepOffset;
		}
		&[data-egg-step="2"] {
			left: @chickenWidth + @eggStepOffset + @eggStepDistance;
		}
		&[data-egg-step="3"] {
			left: @chickenWidth + @eggStepOffset + 2 * @eggStepDistance;
		}
		&[data-egg-step="4"] {
			left: @chickenWidth + @eggStepOffset + 3 * @eggStepDistance;
		}
		&[data-egg-step="5"] {
			left: @chickenWidth + @eggStepOffset + 4 * @eggStepDistance;
		}
	}

	[data-egg-direction="fromRightToLeft"] & {
		&[data-egg-step="1"] {
			right: @chickenWidth + @eggStepOffset;
		}
		&[data-egg-step="2"] {
			right: @chickenWidth + @eggStepOffset + @eggStepDistance;
		}
		&[data-egg-step="3"] {
			right: @chickenWidth + @eggStepOffset + 2 * @eggStepDistance;
		}
		&[data-egg-step="4"] {
			right: @chickenWidth + @eggStepOffset + 3 * @eggStepDistance;
		}
		&[data-egg-step="5"] {
			right: @chickenWidth + @eggStepOffset + 4 * @eggStepDistance;
		}
	}
}