/* GAME CHARACTER: eggs */
@eggWidth: 7px;
@eggHeight: 10px;


.egg {
	display: block;
	width: @eggWidth;
	height: @eggHeight;
	position: absolute;
	background: white;

	&[data-egg-step="1"] {
		top: @chickenHeight + @eggHeight;
	}
	&[data-egg-step="2"] {
		top: @chickenHeight + 1.5 * @eggHeight;
	}
	&[data-egg-step="3"] {
		top: @chickenHeight + 2 * @eggHeight;
	}
	&[data-egg-step="4"] {
		top: @chickenHeight + 2.5 * @eggHeight;
	}
	&[data-egg-step="5"] {
		top: @chickenHeight + 3 * @eggHeight;
	}

	[data-egg-direction="fromLeftToRight"] & {
		&[data-egg-step="1"] {
			left: @chickenWidth + @eggWidth;
		}
		&[data-egg-step="2"] {
			left: @chickenWidth + 5 * @eggWidth;
		}
		&[data-egg-step="3"] {
			left: @chickenWidth + 6 * @eggWidth;
		}
		&[data-egg-step="4"] {
			left: @chickenWidth + 7 * @eggWidth;
		}
		&[data-egg-step="5"] {
			left: @chickenWidth + 8 * @eggWidth;
		}
	}

	[data-egg-direction="fromRightToLeft"] & {
		&[data-egg-step="1"] {
			right: @chickenWidth + @eggWidth;
		}
		&[data-egg-step="2"] {
			right: @chickenWidth + 5 * @eggWidth;
		}
		&[data-egg-step="3"] {
			right: @chickenWidth + 6 * @eggWidth;
		}
		&[data-egg-step="4"] {
			right: @chickenWidth + 7 * @eggWidth;
		}
		&[data-egg-step="5"] {
			right: @chickenWidth + 8 * @eggWidth;
		}
	}
}